h2 {
    margin-bottom: 5px;
}

.mirror-icon {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.attribute{
    width: 100%;
    background: white;
    margin: 0 auto;
    margin-bottom: 30px;
    min-height:50px;
    box-shadow: 0px 0px 20px -10px grey;
}

.mid-top{
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 260px;
}

.upload-popup{
    position: fixed;
    top: 0px;
    left: 0px;
    margin-top: 200px;
    margin-left: 25%;
    width: 350px;
    height: 200px;
    background: white;
    z-index: 20;
    box-shadow: 0px 0px 20px -10px grey;

}

#photo-label{

}

#upload-photo {
    display: none;
}

.circle{
    position: absolute;
    height: 190px;
    width: 190px;
    margin: 0px 22px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0px 0px 20px -10px grey;
}

.info{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 0px;
}

.info p {
    text-align: center;
    font-size: smaller;
    margin: 5px;
    color: grey;
}

.front{
    background: inherit;
    z-index: 6;
    text-align: center;
    vertical-align: middle;
    line-height: 190px;
    opacity: 0;
    -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
    background: white;
}

.pic{
    z-index:5;
    background-size: auto 200px;
    opacity: 1;
    -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
}

.front:hover{
    cursor: pointer;
    opacity: 0.7;
}

.inner-form{
    position: relative;
    padding: 20px 50px;
}

.input-container{
    display: flex;
    margin-top: 10px;
}


.input-text{
    width: 100%;
    display: inline-block;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icon {
    width: auto;
    height: auto;
    background:none;
    color: grey;
    font-size: 2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.accept{
    position: absolute;
    background: #00cc00;
    border-radius: 50%;
    color: white;
    font-size: 1em;
    box-shadow: 0px 0px 5px -1px grey;
    bottom: 0px;
    margin-bottom: 4em;
    right: 0px;
    margin-right: 1.3em;
    line-height: 100%;
    padding: 0px;
    text-align: center;
    display: none;
    width: 1.7em;
    height: 1.7em;

}


.toggle {
    display: block;
}

.cancel {
    display: none;
}

.submit {
    display: none;
}
