/* As hex codes */

.color-primary-0 { color: #6F4CD6 }	/* Main Primary color */
.color-primary-1 { color: #825FE9 }
.color-primary-2 { color: #7855E1 }
.color-primary-3 { color: #6544C9 }
.color-primary-4 { color: #5C3CBA }



body {
    margin: 0px;
    font-family: sans-serif;
    background: #f0edf4;

}

.content {
    width: auto;
    padding: 50px;
    height: auto;
}

.center {
    width: auto;
    min-height: 200px;

}