/* As hex codes */

.color-primary-0 { color: #6F4CD6 }	/* Main Primary color */
.color-primary-1 { color: #825FE9 }
.color-primary-2 { color: #7855E1 }
.color-primary-3 { color: #6544C9 }
.color-primary-4 { color: #5C3CBA }


body {
    text-align: center;
    margin: 0px;
    background: white;
    color: grey;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.75em;
}

form {
    padding: 0em 1em 0.5em 1em;
    text-align: left;
}

form p{
    margin: 0px;
}

input:not([type=submit]) {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

 input:not([type=submit]):focus {
    border: 1px solid grey;
    border-radius: 3px;
}

input[type=submit] {
    width: 100%;
    background-color: #825FE9;
    color: white;
    padding: 10px 10px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7855E1;
}

.inner {
    width: 23em;
    margin: 0 auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 5px 5px 20px #888888;
    padding-bottom: 0.5em;
}

.inner h2{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
    background: #5C3CBA;
    margin-top: 0px;
    color: white;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

