<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    {% block headers %} {% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %} Welcome {% endblock %}</title>
</head>
<body>
    {% include "base_header.html" %}

    <div id="content">
        {% block content %} {% endblock %}
    </div>

</body>
</html>