<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="circle avatar"></div>
    <div class="circle overlay">I Love You</div>
    <div class="top-bar"><h1>Diadem & Cedric<h1></div>
    <div class="side-bar"></div>
      <ul class="menu">
        <li class="link"><a class="active" href="index.html">Home</a></li>
        <li class="link"><a href="story.html">Story</a></li>
        <li class="link"><a href="pictures.html">Pictures</a></li>
      <!--  <li class="link"><a href="reasons.html">Reasons</a></li> -->
        <li class="link"><a href="whatsup.html">Whats up</a></li>
      </ul>


    <div id="content-container">
      <div id="content">
        <h2>Happy Valentines day (and late christmas tbh)</h2>
        <p>So this will come as no surprise to you, but this is your gift. I keep mentioning it and hyping it up so yes here it is. Why am I doing this? Three reasons (idk why I put it seperately..): </p>
          <ul>
            <li>Firstly, my actual first Christmas gift I made you sucks. Like I'm too embarrased to give it to you haha. I don't think you would of even used the other one.. Probably just hide it in your closet like the rest of my gifts ;).</li>
            <li>Secondly, your Christmas gift to me was a letter and my normal gifts to you always end up me professing my love for you. So using this site, I can still do that and then some. Not only can I keep writing here whenever I want, I (and hopefully you if what I'm doing works) can add pictures, and more stuff (if I can get them to work tbh). </li>
            <li>Thirdly, whenever I asked you to give me ideas for side projects to do, you always joke about how I should make something about you/us/how much I love you. Since I don't know how to make apps yet, or anything front end using Java/Python/C, website it is. </li>
          </ul>
      <p> Honestly, I just wanted to make something you would be proud of LOL. Even though I know this isn't the best website out there, keep in mind this is my first website since I was in grade 9.. So I'm a little rough around the edges. Also this is my first website using javascript (basic in this version, but hopefully will update it to have more advanced stuff)! So I was actually learning as I was doing this boo. Also!! This is a portable gift?? Aka if you wanna show it off [wink wink] you just gotta go to the site. I hope you like it, and appreciate the effort that went into it!! </p>
      <p>PS: I am not an artist or designer. If it look hella ugly, my bad. I don't know how to make things look pretty (why I don't wear make up either)</p>
      <p>The goal of this site is that hopefully you can always check back here (in the whats up page) and see how I'm feeling/whats up with us. After I work on this more (maybe a year) you'll be able to upload your stuff too.</p>

      </div>
    </div>
  </body>
</html>
